/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 20, 2022, 3:02:02 PM
    Author     : Admin
*/
table, th, td {  
    border: 2px solid #EEEEEE;  
    border-collapse: collapse;  
   width: 1000px;
}  
th, td {  
    padding: 10px;  
}  
tr{
    align-items: center;
    
}
body{
    text-align: center;padding: 50px;
    padding-left: 100px;
   
}
div{
    text-align: left;
}
p{
    text-align: left;
}