/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 21, 2022, 12:45:17 AM
    Author     : Admin
*/

table, th, td {  
    border: 2px solid white;  
    border-collapse: collapse;  
    width: 1000px;
}  
th, td {  
    padding: 5px;  
}  
tr{
    align-items: center;
    
}
body{
    text-align: center;padding: 100px;
    padding-left: 70px;
    padding-top: 30px;
   
}
h1{
    text-align: left;
    }
